{% extends "base.html" %}
{% block title %}Admin Login — MoMoSafe237{% endblock %}
{% block content %}

<section class="form-page">
    <h1>🔐 Admin Login</h1>

    <form method="POST" class="simple-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</section>

{% endblock %}
